@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");
.App-header {
  font-size: 1rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  padding-bottom: 2rem;
}
.carousel {
  border-radius: 10px;
  height: 40vh;
  width: 70vw;
  margin: auto;
  overflow: hidden;
  padding: 25px;
}
.carousel img {
  width: 99%;
  height: 99%;
  border-radius: 8px;
  /* border: #ff00008e solid 2px; */
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  background-color: #6a6c79;
  color: #fff;
  padding: 2px 0px 0px 5px;
  margin: 0 20px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 70vh 10vw;
  height: 25px;
  width: 25px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.indicator {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #fa2020;
}
